.numb-matricula {
    padding: 4px 6px;
    background: #ffd500;
    border-radius: 70%;
    line-height: 1;
    margin-left: 7px;
    font-weight: 500;
}
.fs-xs {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 8px!important;
}
.fs-sm {
    font-size: 13.5px;
}
.fs-reg {
    font-size: 15px;
}
.accordion-schedule {
    .accordion-body {
        padding: 0;
    }
    .accordion-item {
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125)!important;
        margin-bottom: 12px;
        border-radius: 6px!important;
        box-shadow: none;
        .accordion-button {
           
           
            border-radius: 6px;
            padding: 0.5rem 1rem;
            i {
                color: #7e7e7e;
            }
            &:focus {
                z-index: 3;
                border-color: #ffffff;
                outline: 0;
                box-shadow: none;
            }
            p {
                font-size: 13px;
                font-weight: 500;
                font-family: var(--font-upch)!important;
                width: 86%;
            }
            &:after {
                width: 1.1rem;
                height: 1rem;
                background-size: 1.1rem;
            }

        }
        div.group {
            &:nth-of-type(odd) {
                .title-group{
                    background: #efefef9e;
                }
                .item-group {
                    background: white;
                }
                }
                    
            &:nth-of-type(even) {
                .title-group{
                    background: #efefef9e;
                }
                .item-group {
                    background: #fffadf;

                }
                }
                
            .title-group {
                padding: 0.38rem 1rem 0.38rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
                // background: #efefef9e;
    
                 p, span {
                    font-size: 13.5px;
                 }
            }
            .item-group {
                padding: 1rem;
                p, span {
                    font-size: 13.5px;
                }
            }
        }
    }
    .accordion-item:first-of-type .accordion-button {
        border-top-left-radius: 6px!important;
        border-top-right-radius: 6px!important;
    }    
    .accordion-item:last-of-type .accordion-button {
        border-top-left-radius: 6px!important;
        border-top-right-radius: 6px!important;
    }
    .accordion-button:not(.collapsed) {
        color: #000000;
        font-weight: 500;
        background-color: rgb(176 19 51 / 1%)!important;
        box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%)!important;
        border: 1px solid var(--upch-primary)!important;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        i {
            color: var(--upch-primary);
        }
    }
    .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4' style='&%2310; fill: %23B01333;&%2310;'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E")!important;
        transform: rotate(-180deg);
    }
  }

  .btn-agregar {
    font-size: 12px;

    line-height: 0;
    height: 27px;
  }

  .search-input.form-control.form-control-sm {
    background-color: #fff!important;
    background-clip: padding-box;
    border: 1px solid #ced4da!important;
    border-color: #ced4da!important;
    border-right-color: white!important;
  }